<html>
<head>
<style>
.tabelafilme{
    border:3px solid #FF7F50;
    border-left-style: none;
    border-right-style: none;
    width="400px";
}
h1 {
    background-color: #FF7F50;
}
</style>
</head>
<h1><font color = #FFFAFA >Editar informações sobre o filme</font></h1>
 
<%= form_for :article, url: article_path(@article), method: :patch do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <p>
    <%= f.label :Titulo%><br>
    <%= f.text_field :title %>
    </p>
  </p>
 
  <p>
    <%= f.label :Nota%><br>
    <%= f.number_field :rating, :step => "0.05" %>
  </p>
   <p>
    <%= f.label :Data%><br>
    <%= f.date_field :date%>
  </p>
 
 
  <p>
    <%= f.submit "Salvar" %>
   
  </p>
  <%= link_to 'Deletar', article_path(@article),
              method: :delete,
              data: { confirm: 'Tem certeza que deseja deletar este filme da lista ?' } %>
  <%= link_to 'Back', articles_path %>
  
 
<% end %>
 
