<!DOCTYPE html>
<html>
<head>
<style>
.tabelafilme{
    border:3px solid #FF7F50;
    border-left-style: none;
    border-right-style: none;
    width="400px";
}
h1 {
    background-color: #FF7F50;
}
a:link {
    color: none;
    text-decoration: none;
}

</style>
</head>
<body>
    
    <h1 style="text-align:justfied;"><font color = #FFFAFA >Rotten Potatoes</font></h1>
    <table>
        <tr>
          <th><td WIDTH=300><font color = #8B0000><b>Titulo do filme</b></font></td></th>
          <th><td WIDTH=300><font color = #8B0000><b>Nota</b></font></td></th>
          <th><td WIDTH=300><font color = #8B0000><b>Data de Lançamento</b></font></td></th>
          <th><td WIDTH=300><font color = #8B0000><b>Mais Informações</b></font></td></th>
        </tr>        
    </table>
    <table class = tabelafilme>
        <tr>
            <% @articles.each do |article| %>
                <th><td WIDTH=300><%= article.title%></td></th>
                <th><td WIDTH=300><%= article.rating%></td></th>
                <th><td WIDTH=300><%= article.date%></td></th>
                <th><td WIDTH=300><%= link_to 'Mais Sobre', article_path(article)%></td></th>
                <tr></tr>
            <%end%>
                
        </tr>
    </table>
    <br><td><%= link_to 'Novo Filme' , new_article_path %></td>
</body>