<html>
<head>
<style>
.tabelafilme{
    border:3px solid #FF7F50;
    border-left-style: none;
    border-right-style: none;
    width="400px";
}
h1 {
    background-color: #FF7F50;
}
</style>
</head>
<h1><font color = #FFFAFA >Filme</font></h1>
<p><font size="5"> 
  <strong>Titulo do Filme:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Nota do filme:</strong>
  <%= @article.rating%>
</p>
<p>
  <strong>Data de Lancamento:</strong>
  <%= @article.date%>
</p>
</font> <br />

 
<!--<h2>Comments</h2>                               ///parte de comentários caso desejada 
<%= render @article.comments %>                     ///
                                                    ///  
<h2>Adcionar um comentario sobre o filme:</h2>      ///
<%= render 'comments/form' %>                       ///  -->

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
